#wifi-container {
  margin: 0px 0px 20px 0px;
  position: relative;

  * {
    display: inline-block;
  }

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"] + label span {
    #checked {
      display: none;
    }
    #unchecked {
      display: inline-block;
      margin-right: 12.75px;
    }
  }

  input[type="checkbox"]:checked + label span {
    #checked {
      display: inline-block;
      margin-right: 10px;
    }
    #unchecked {
      display: none;
    }
  }

}
