@import 'variables.scss';
@import 'reset.scss';
@import 'container.scss';
@import 'rating-form.scss';
@import 'wifi-form.scss';
@import 'splash-header.scss';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100vh;
  color: white;
}

.yellow {
  color: $yellow;
  font-weight: 700;
}

#connect-wifi-form {
  display: none;
}
